<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Icon.png">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Server Dashboard</title>
</head>

<body>
    <div class="header">
        <h1>Server Dashboard<h1>
    </div>

    <div class="main">
        <h2>Services</h2>
        <div class="services-container">
            <div class="service">
                <img src="/Images/SystemIcon.png" alt="service icon">
                <div>
                    <h2>System</h2>
                    <p>RAM Usage: <%= ramPercent %>% (<%= ramUsed %>Gb)</p>
                    <p>Uptime: <%= uptime %>
                    </p>
                </div>
            </div>
            <a href="/minecraft1" class="service">
                <img src="/Images/MinecraftIcon.png" alt="service icon">
                <div>
                    <h2>Minecraft Server 1
                    </h2>
                    <p>Status: <%- online1 %>
                    </p>
                    <p>Online players: <%= numberPlayers1 %>
                    </p>
                    <p>Version: <%= version1 %>
                    </p>
                </div>
            </a>

            <a href="/minecraft2" class="service">
                <img src="/Images/MinecraftIcon.png" alt="service icon">
                <div>
                    <h2>Minecraft Server 2
                    </h2>
                    <p>Status: <%- online2 %>
                    </p>
                    <p>Online players: <%= numberPlayers2 %>
                    </p>
                    <p>Version: <%= version2 %>
                    </p>
                </div>
            </a>
            <!-- <div class="service">
                <img src="/Images/DiscordIcon.png" alt="service icon">
                <div>
                    <h2>Discord Bot</h2>
                    <p></p>
                </div>
            </div>-->
        </div>
    </div>

</html>